<div id="footer-small" {% if page.lang == 'ar' %} dir="rtl" {% else %} dir="ltr" {% endif %}>
    <div class="row">
        <ul>
            <li><a href="{{ site.baseurl }}/{{ page.lang }}/about/">{{ site.data.t.about_website[page.lang] }}</a></li>
            <li><a href="{{ site.baseurl }}/{{ page.lang }}/cookies/">{{ site.data.t.cookies[page.lang] }}</a></li>
            <li><a href="{{ site.baseurl }}/{{ page.lang }}/privacy/">{{ site.data.t.privacy[page.lang] }}</a></li>
            <li><a href="{{ site.baseurl }}/{{ page.lang }}/terms/">{{ site.data.t.terms[page.lang] }}</a></li>
            <li>© Open Lab</li>
        </ul>
    </div>
</div>
