<div id="footer-small" {% if pagelang == 'ar' %} dir="rtl" {% else %} dir="ltr" {% endif %}>
    <div class="row">
        <ul>
            <li><a href="{{ site.baseurl }}/{{ pagelang }}/about">{{ site.data.t.about_website[pagelang] }}</a></li>
            <li><a href="{{ site.baseurl }}/{{ pagelang }}/cookies">{{ site.data.t.cookies[pagelang] }}</a></li>
            <li><a href="{{ site.baseurl }}/{{ pagelang }}/privacy">{{ site.data.t.privacy[pagelang] }}</a></li>
            <li><a href="{{ site.baseurl }}/{{ pagelang }}/terms">{{ site.data.t.terms[pagelang] }}</a></li>
            <li>© Open Lab</li>
        </ul>
    </div>
</div>
