<div class="form-row">
    <div class="form-consent">
        <input class="form-input" id="agree-research" name="agree-research" type="checkbox">
        <label for="agree-research"> {{ site.data.t.agree_research[page.lang] }}<a href="{{ site.baseurl }}/{{ page.lang }}/research">{{ site.data.t.research_long[page.lang] }}</a></label>                                        
    </div>
</div>
<div class="form-row">
    <div class="form-consent">
        <input class="form-input" id="agree-privacy" name="agree-privacy" type="checkbox">
        <label for="agree-privacy">{{ site.data.t.i_accept[page.lang] }}<a href="{{ site.baseurl }}/{{ page.lang }}/privacy">{{ site.data.t.privacy_long[page.lang] }}</a></label>                                        
    </div> 
</div>
<div class="form-row">
    <div class="form-consent">
        <input class="form-input" id="agree-terms" name="agree-terms" type="checkbox">
        <label for="agree-terms">{{ site.data.t.i_accept[page.lang] }}<a href="{{ site.baseurl }}/{{ page.lang }}/terms">{{ site.data.t.terms_long[page.lang] }}</a></label>                                        
    </div>
</div>