<head>
    <script src="{{ site.baseurl }}/js/language.js"></script>
    <script>
        if (localStorage != null && localStorage.lang)
            setTimeout(function() { redirectToHome(localStorage.lang) }, 3000);
        else {
            var userLang = navigator.language || navigator.userLanguage;
            if (userLang) userLang = userLang.split('-')[0];
            setTimeout(function() { redirectToHome(userLang) }, 3000);
        }

        function redirectToHome(userLanguage) {
            if (userLanguage == 'en')
                location.href = '{{site.baseurl}}/en/';
            else if (userLanguage == 'ar')
                location.href = '{{site.baseurl}}/ar/';
            else
                location.href = '{{site.baseurl}}/en/';
        }

    </script>
</head>