---
layout: default
---
<div id="main" {% if page.lang=="ar" %}dir="rtl" {% endif %} data-selected-language="{{ page.lang }}">

<div class="sh-1" id="search">
    <div class="search-title">{{ site.data.t.looking_for[page.lang] }}</div>
    <div class="search-row">
        <div class="search-inner">
        <div class="selected-tags noselect" id="selected-tags">
            
        </div>
        <input class="search-field" type="text" placeholder="{{ site.data.t.search[page.lang] }}" name="query" id="search-box" />
        </div>
        <div class="search-icon" >
        <a id="search-button" onclick="javascript:onSearchButton();" ><i class="fas fa-search"></i></a>
        </div>
    </div>
    <ul class="search-tags" id="search-tags">
        
    </ul>
</div>

<div id="mentor-list">
    <div class="mentor-card">
        <div class="mentor-content sh-2 hv">
        <div class="mentor-image"></div>
        <div class="mentor-info">
            <div class="mentor-name">Mentor Name</div>
            <div class="mentor-title">Mentor Title</div>
            <div class="mentor-bio">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec.</div>
            <ul class="mentor-tags">
            <li>
                <a href="#">first tag</a>
            </li>
            <li>
                <a href="#">second</a>
            </li>
            <li>
                <a href="#">tag</a>
            </li>
            </ul>
            <ul class="mentor-social">
            <li>
                <a href="#">
                <i class="fab fa-facebook-square"></i>
                </a>
            </li>
            <li>
                <a href="#">
                <i class="fab fa-instagram"></i>
                </a>
            </li>
            <li>
                <a href="#">
                <i class="fab fa-twitter-square"></i>
                </a>
            </li>
            </ul>
        </div>
        </div>
    </div>
</div>

<div class="home">
    <div class="wrapper">
        <ul class="mentor-grid" id="search-results">
            
        </ul>
    </div>


    {% comment %}<div class="wrapper" id="search-results">
            {% assign mentors=site.mentors | where:"lang", page.lang %}
            <ul class="mentor-grid">
                {% for mentor in mentors %}
                <li>
                    <h2>
                        <a href="{{ mentor.url | prepend: site.baseurl }}">{{ mentor.name }}</a>
                    </h2>
                    <section class="post-excerpt" itemprop="description">
                        <p>{{ mentor.shortbio}}</p>
                    </section>
                    <section class="post-meta">
                        <div class="post-categories">
                            {% if mentor.tags.size > 0 %} {% for tag in mentor.tags %} 
                            <a href="{{ site.baseurl }}{{ page.url }}#{{ tag }}">{{ tag | UPPERCASE }}</a>{% if forloop.last == false %}, 
                            {% endif %} {% endfor %}{%endif %}
                        </div>
                    </section>
                </li>
                {% if forloop.last == false %}
                <hr> {% endif %} {% endfor %}
            </ul>
        </div>{% endcomment %}
    </div>
</div>
{% include footer.html %}



<script type="text/javascript" src="{{ site.baseurl }}/mentors.{{page.lang}}.js"></script>
<script src="https://unpkg.com/lunr/lunr.js"></script>
<script src="{{ site.baseurl }}/js/lunr.stemmer.support.min.js"></script>
<script src="{{ site.baseurl }}/js/lunr.ar.min.js"></script>
<script src="{{ site.baseurl }}/js/lunr.multi.min.js"></script>
<script src="{{ site.baseurl }}/js/search.js"></script>