---
layout: default
---

<div class="mentor-pages" id="main" {% if page.lang=="ar" %}dir="rtl" {% endif %} data-selected-language="{{ page.lang }}">

    <div class="shadow sh-1"></div>
    <div class="mentor-container">
        <div id="background-line"></div>
        <div class="mentor-section">
            <div id="back-to-profile" onclick="javascript:window.location.href='{{ site.baseurl }}/{{ page.lang }}';">{{
                site.data.t.back_to_main[page.lang] }}</div>
            <div class="mentor-card-big sh-2 block-card">
                <div class="mentor-form no-image">
                    <div class="mentor-details">
                        <div class="post-type"> <i class="fas fa-newspaper"></i><span>{{
                                site.data.t.let_us_help[page.lang] }}</span></div>
                        <form class="form-group">
                            <div class="form-row">
                                <div class="description">{{ site.data.t.let_us_help_help[page.lang] }}</div>
                            </div>
                            <div class="inner-container">
                                <div class="form-row">
                                    <div class="form-label">{{ site.data.t.full_name[page.lang] }}</div>
                                    <div class="form-fields">
                                        <input class="form-input" id="name" placeholder="{{ site.data.t.full_name[page.lang] }}"
                                            name="name" type="text" />
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-label">{{ site.data.t.email_address[page.lang] }}</div>
                                    <div class="form-fields">
                                        <input class="form-input" id="email" placeholder="{{ site.data.t.email_address[page.lang] }}"
                                            name="email" type="email" />
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-label">{{ site.data.t.mobile_no[page.lang] }}</div>
                                    <div class="form-fields">
                                        <input class="form-input" id="phone" placeholder="{{ site.data.t.mobile_no[page.lang] }}"
                                            name="phone" type="text" />
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-label">{{ site.data.t.dob[page.lang] }}</div>
                                    <div class="form-fields">
                                        <select class="form-input" id="input-day" placeholder="{{ site.data.t.day[page.lang] }}" name="birthday-day" type="number">
                                            <option value="" disabled="disabled" selected="selected">{{
                                                site.data.t.day[page.lang] }}</option>
                                            {% for i in (1..31)%}
                                                <option value="{{i}}">{{ i }}</option>
                                            {% endfor %}
                                        </select>
                                        <select class="form-input" id="input-month" placeholder="{{ site.data.t.month[page.lang] }}"
                                            name="birthday-month" type="number">
                                            <option value="" disabled="disabled" selected="selected">{{
                                                site.data.t.month[page.lang] }}</option>
                                            {% for month in site.data.t.months[page.lang] %}
                                                <option value="{{ forloop.index }}">{{ month }}</option>
                                            {% endfor %}
                                        </select>
                                        <select class="form-input" id="input-year" placeholder="{{ site.data.t.year[page.lang] }}"
                                            name="birthday-year" type="number">
                                            <option value="" disabled="disabled" selected="selected">{{
                                                site.data.t.year[page.lang] }}</option>
                                            {% capture year %}{{ site.time | date: "%Y" }}{% endcapture %}
                                            {% for i in (1900..year) reversed %}
                                                <option value="{{i}}">{{ i }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-label">{{ site.data.t.what_field[page.lang] }}</div>
                                    <div class="form-fields">
                                        <input class="form-input" id="interest-field" placeholder="{{ site.data.t.what_field[page.lang] }}"
                                            name="interest-field" type="text" />
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-label align-start">{{ site.data.t.introduce_yourself[page.lang] }}</div>
                                    <div class="form-fields">
                                        <textarea class="form-input" id="describe" placeholder="{{ site.data.t.introduce_yourself[page.lang] }}..."
                                            name="describe"></textarea>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-label align-start">{{ site.data.t.why_a_mentor[page.lang] }}</div>
                                    <div class="form-fields">
                                        <textarea class="form-input" id="reason" placeholder="{{ site.data.t.why_a_mentor[page.lang] }}"
                                            name="reason"></textarea>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="mentor-form-button"> <a class="form-button" href="#">{{
                        site.data.t.submit[page.lang] }}</a></div>
            </div>
        </div>
    </div>
</div>
