---
layout: default
---
<div class="mentor-pages" id="main" {% if page.lang=="ar" %}dir="rtl" {% endif %} data-selected-language="{{ page.lang }}">

  <div class="shadow sh-1"></div>
  <div class="mentor-container">
    <div id="background-line"></div>
    <div class="mentor-section">
      <div class="mentor-card-big sh-2">
        <div class="mentor-main">
          <div class="mentor-image" style="background-image: url('{{ page.image }}')"></div>
          <div class="mentor-info">
            <div class="mentor-name">{{ page.name }}</div>
            <div class="mentor-title">{% if page.jobtitle and page.jobtitle != '' %}{{ page.jobtitle }}{% endif %}{% if page.jobtitle and
              page.workplace and page.jobtitle != '' and page.workplace != '' %}, {% endif %}{% if page.workplace and page.workplace != '' %}{{ page.workplace }}{% endif %}</div>
            <div class="mentor-connect-dropdown mentor-connect-dropdown-no-ie sh-0 hv" id="mentor-connect-dropdown" onclick="mov()">
              <div class="button-title"> {{ site.data.t.connect_with[page.lang] }} {{ page.name }}</div>
              <div class="button-content sh-1" id="button-content">
                <div class="button-content-row" onclick="javascript:window.location.href='{{ site.baseurl }}/{{ page.lang }}/request-introduction?mentor={{ page.ref }}';"><a
                    href="{{ site.baseurl }}/{{ page.lang }}/request-introduction?mentor={{ page.ref }}"> {{
                    site.data.t.request_intro[page.lang] }}</a>
                  <div class="button-content-help" data-help="{{ site.data.t.request_intro_help[page.lang] }}"> <i
                      class="fas fa-question-circle"></i>
                    <div class="arrow {% if page.lang=='ar' %} arrow-right {% else %} arrow-left {% endif %}"></div>
                  </div>
                </div>
                <div class="button-content-row" onclick="javascript:window.location.href='{{ site.baseurl }}/{{ page.lang }}/request-meeting?mentor={{ page.ref }}';"><a
                    href="{{ site.baseurl }}/{{ page.lang }}/request-meeting?mentor={{ page.ref }}"> {{
                    site.data.t.request_meeting[page.lang] }}</a>
                  <div class="button-content-help" data-help="{{ site.data.t.request_meeting_help[page.lang] }}."> <i
                      class="fas fa-question-circle"></i>
                    <div class="arrow {% if page.lang=='ar' %} arrow-right {% else %} arrow-left {% endif %}"></div>
                  </div>
                </div>
                <div class="button-content-row" onclick="javascript:window.location.href='{{ site.baseurl }}/{{ page.lang }}/join-whatsapp?mentor={{ page.ref }}';"><a
                    href="{{ site.baseurl }}/{{ page.lang }}/join-whatsapp?mentor={{ page.ref }}"> {{
                    site.data.t.join_whatsapp[page.lang] }}</a>
                  <div class="button-content-help" data-help="{{ site.data.t.join_whatsapp_help[page.lang] }}"> <i
                      class="fas fa-question-circle"></i>
                    <div class="arrow {% if page.lang=='ar' %} arrow-right {% else %}  arrow-left {% endif %}"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mentor-details">
          {% assign indexPage=site.pages | where:"lang", page.lang | where: "ref", "index" %}
          {% if page.tags.size > 0 %}
          <div class="tags-row">
            {% for tag in page.tags %}
            <a href="{{ site.baseurl }}{{ indexPage.first.url }}#tags:{{ tag }}">{{ tag | UPPERCASE }}</a> {% endfor
            %}
          </div>
          {% endif %}
          <div class="long-bio-row">
            {{ page.longbio }}
          </div>
          {% if page.education-experience and page.education-experience.size > 0 %}
          <div class="details-row" id="education">
            <div class="icon"> <i class="fas fa-graduation-cap"></i></div>
            <div class="title">{{ site.data.t.education_experience[page.lang] }}</div>
            {% for item in page.education-experience %}
            <div class="education-row">
              <div class="details"> <span class="edu-title">{{ item.title }}{% if page.lang=="ar" %}، {% else %}, {%
                  endif %} </span><span class="description">{{ item.description }}</span></div>
              <div class="details"><span class="place">{{ item.place | UPPERCASE }}{% if page.lang=="ar" %}، {% else
                  %}, {% endif %} </span><span class="duration">{{ item.duration }}</span></div>
            </div>
            {% endfor %}
          </div>
          {% endif %}

          {% if page.topics and page.topics.size > 0 %}
          <div class="details-row" id="topics">
            <div class="icon"> <i class="fas fa-bookmark"></i></div>
            <div class="title">{{ site.data.t.topics_i_can_help_with[page.lang] }}</div>
            <div class="row">
              {% for item in page.topics %} {{item}}{% if page.lang=="ar" %}، {% else %}, {% endif %} {% endfor %}
            </div>
          </div>
          {% endif %}

          {% if page.interests and page.interests.size > 0 %}
          <div class="details-row" id="interests">
            <div class="icon"> <i class="fas fa-heart"></i></div>
            <div class="title">{{ site.data.t.interests[page.lang] }}</div>
            <div class="row">
              {% for item in page.interests %} {{item}}{% if page.lang=="ar" %}، {% else %}, {% endif %} {% endfor %}
            </div>
          </div>
          {% endif %}

          {% if page['social-accounts'] %}
          <div class="social-media-row">
            {% if page['social-accounts'].snapchat %}
            <a target="_blank" href="{{ page['social-accounts'].snapchat }}"> <i class="fab fa-snapchat-square"></i></a>
            {% endif %}
            {% if page['social-accounts'].facebook %}
            <a target="_blank" href="{{ page['social-accounts'].facebook }}"> <i class="fab fa-facebook-square"></i></a>
            {% endif %}
            {% if page['social-accounts'].instagram %}
            <a target="_blank" href="{{ page['social-accounts'].instagram }}"> <i class="fab fa-instagram"></i></a>
            {% endif %}
            {% if page['social-accounts'].twitter %}
            <a target="_blank" href="{{ page['social-accounts'].twitter }}"> <i class="fab fa-twitter-square"></i></a>
            {% endif %}
            {% if page['social-accounts'].linkedin %}
            <a target="_blank" href="{{ page['social-accounts'].linkedin }}"> <i class="fab fa-linkedin"></i></a>
            {% endif %}
            {% if page['social-accounts'].link %}
            <a target="_blank" href="{{ page['social-accounts'].link }}"> <i class="fas fa-link"></i></a>
            {% endif %}

          </div>
          {% endif %}


        </div>
      </div>
    </div>
    {% for item in site.mentor_posts %}
    {% if item.ref == page.ref %}
    <div class="mentor-section" {% if item.lang == 'ar' %} dir="rtl" {% else %} dir="ltr" {% endif %} >
      <div class="mentor-card-big sh-2">
        <div class="post-type {{item.lang}}"> <i class="fas fa-newspaper"></i><span style="text-transform: UPPERCASE">{{item.title }} </span></div>
        <div class="mentor-post-container">
          <div class="post-content">{{ item.content | markdownify }} </div>
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}

  </div>
</div>

<script>
var mov = function(){
}
</script>
<!--[if ie 9]>
  <script>
  var buttonContent = $('#button-content');
  var mainButton = $('#mentor-connect-dropdown');
  mainButton.removeClass('mentor-connect-dropdown-no-ie');

  var toggle = false;
  var mov = function() {
    toggle = !toggle;
    if (toggle){
      buttonContent.addClass('button-content-hv');
      mainButton.addClass('mentor-connect-dropdown-hv');
    } else {
      buttonContent.removeClass('button-content-hv');
      mainButton.removeClass('mentor-connect-dropdown-hv');
    }

  }
 </script>
<![endif]-->