---
layout: default
---

<div class="mentor-pages" id="main" {% if page.lang=="ar" %}dir="rtl" {% endif %} data-selected-language="{{ page.lang }}">

    <div class="shadow sh-1"></div>
    <div class="mentor-container">
        <div id="background-line"></div>
        <div class="mentor-section">
            <div id="back-to-profile" onclick="javascript:window.location.href='{{ site.baseurl }}/{{ page.lang }}';">{{ site.data.t.back_to_main[page.lang] }}</div>
            <div class="mentor-card-big sh-2 block-card">
                <div class="mentor-form no-image">
                    <div class="mentor-details">
                        <div class="post-type {{page.lang}}"> <i class="fas fa-newspaper"></i><span>{{
                                site.data.t.recommend_mentor[page.lang] }}</span></div>
                        <form class="form-group" name="recommend-mentor">
                            <input name='form-type' type='hidden' value='recommend-mentor'>
                            <div class="form-row">
                                <div class="description">{{ site.data.t.recommend_mentor_help[page.lang] }}</div>
                            </div>
                            <div class="inner-container">
                                <div class="form-row">
                                    <div class="form-label">{{ site.data.t.mentor_full_name[page.lang] }}</div>
                                    <div class="form-fields">
                                        <input class="form-input" id="mentor-name" placeholder="{{ site.data.t.mentor_full_name[page.lang] }}"
                                            name="mentorname" type="text" />
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-label">{{ site.data.t.mentor_email[page.lang] }}</div>
                                    <div class="form-fields">
                                        <input class="form-input" id="mentor-email" placeholder="{{ site.data.t.mentor_email[page.lang] }}"
                                            name="mentoremail" type="email" />
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-label">{{ site.data.t.mentor_phone[page.lang] }}</div>
                                    <div class="form-fields">
                                        <input class="form-input" id="mentor-phone" placeholder="{{ site.data.t.mentor_phone[page.lang] }}"
                                            name="mentorphone" type="text" />
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-label" style="align-self: flex-start;">{{ site.data.t.mentor_social[page.lang] }}</div>
                                    <div id="social-profiles-container">
                                        <div class="form-fields">
                                            
                                        </div>
                                        <a id="add_another_profile" onclick="addField()">{{ site.data.t.add_another_profile[page.lang] }}</a>
                                    </div>
                                </div>
                                {%include form-consent.html%}
                            </div>
                        </form>
                    </div>
                </div>
                <div class="mentor-form-button"> <a class="form-button" id='button-submit'>{{
                        site.data.t.submit[page.lang] }}</a></div>
            </div>
        </div>
    </div>
</div>
<div id="success-modal" class="modal">
    <i class="fas success fa-check-circle"></i>
    <p>{{ site.data.t.thank_you_submit[page.lang] }}</p>
    <a class='button' href="{{ site.baseurl }}/{{ page.lang }}">{{ site.data.t.back_to_main_2[page.lang] }}</a>
</div>
<div id="error-modal" class="modal">
    <i class="fas error fa-exclamation-circle"></i>
    <p>{{ site.data.t.something_wrong_submit[page.lang] }}</p>
    <a class='button' href="#" rel="modal:close">{{ site.data.t.close[page.lang] }}</a>
</div>

<script>
function addField(){
    var fieldContainer = $('#social-profiles-container').find('.form-fields')[0];
    if (!fieldContainer) return;
    var count = fieldContainer.childElementCount+1;
    var newField = $('<input class="form-input mentor-social" id="mentor-social-' + count + '" placeholder="{{ site.data.t.mentor_social_placeholder[page.lang] }}" name="mentorsocial_' + count + '" type="url" />');
    newField.appendTo(fieldContainer);
}

$(document).ready(function(){
    addField();
});
</script>