@import url("https://fonts.googleapis.com/css?family=Cabin:400,700|Comfortaa:400,700");
#background-line {
    left: 20%;
}

#header #logo {
    font-size: 2em;
    font-family: "Comfortaa", sans-serif;
    float: left;
    padding: 20px 30px 15px 30px;
}

#header #language-select {
  float: right;
}


#search .search-title {
    font-family: "Comfortaa", sans-serif;
}

#search .search-row {
    padding: 0 40px 0 1px;
}

#search .search-inner {
    border-radius: 50px 0 0 50px;
}

#search .selected-tags {
    border-radius: 50px 0 0 50px;
    direction: rtl;
}

#search .selected-tags .tag {
    font-family: "Cabin", "Helvetica Neue", Arial;
}


#search .selected-tags .tag .tag-side {
  padding: 10px 5px 15px 15px;
}

#search .selected-tags .tag .close-side {
  border-left: 1px solid #fff;
  padding: 10px 10px 15px 7px;
}


/* #search .selected-tags .tag::after{
  color: #fff;
  content: 'X';
  border-left: 1px solid #fff;
  padding-left: 5px;
} */

#search .search-field {
    padding: 0 1px 0 15px;
}

#search .search-icon {
    right: 0;
}

#search .search-tags>li a {
    font-family: "Cabin", "Helvetica Neue", Arial;
}

.mentor-card .mentor-name {
    font-family: "Comfortaa", sans-serif;
}

.mentor-card .mentor-title {
    font-family: "Cabin", sans-serif;
}

.mentor-card .mentor-bio {
    font-family: "Comfortaa", sans-serif;
    height: 80px;
}

.mentor-card ul.mentor-tags a {
    font-family: "Cabin", sans-serif;
}

#footer .footer-title,
#footer .footer-title-big {
    font-family: "Comfortaa", sans-serif;
}

#footer .footer-title {
    font-weight: bold;
}

#footer .footer-button-big {
    text-align: right;
    font-family: "Comfortaa", sans-serif;
}

.right-container {
    text-align: right;
}

.mentor-card-big .mentor-main {
    border-right: 3px dotted rgb(239, 237, 238);
}

.mentor-card-big .mentor-image {
    border-radius: 10px 0 160px 0;
}

.mentor-info .mentor-name {
    font-family: "Comfortaa", sans-serif;
    font-size: 1.5em;
}

.mentor-info .mentor-name a {
    font-family: "Comfortaa", sans-serif;
}

.mentor-info .mentor-title {
    font-family: "Cabin", sans-serif;
    font-size: 1em;
}

.mentor-info .mentor-connect-dropdown {
    font-family: "Cabin", sans-serif;
}

.mentor-connect-dropdown .button-title {
    padding-right: 40px;
    /*   z-index: 100; */
}

.mentor-connect-dropdown .button-title::after {
    right: 5px;
    border-left: 1px solid #fff;
}

.mentor-connect-dropdown .button-content {
    font-family: "Cabin", sans-serif;
}

.mentor-connect-dropdown .button-content .button-content-row {
    padding-right: 40px;
}

.mentor-connect-dropdown .button-content .button-content-help {
    right: 0;
}

.mentor-connect-dropdown .button-content .arrow {
    right: -2px;
}

.mentor-connect-dropdown .button-content .button-content-help:hover::after {
    right: auto;
    left: 100%;
}

.mentor-details .tags-row a {
    font-family: 'Cabin', sans-serif;
}

.mentor-details .long-bio-row {
    font-family: 'Comfortaa', sans-serif;
}

.mentor-details .details-row .title {
    font-family: 'Cabin', sans-serif;
}

.mentor-details .education-row,
.mentor-details .row {
    padding-left: 28px;
    font-family: 'Comfortaa', sans-serif;
}

.mentor-details .social-media-row {
    right: 20px;
}

.mentor-card-big .post-type {
    font-family: 'Comfortaa', sans-serif;
    border-radius: 10px 50px 50px 0;
}

.mentor-card-big .post-type span {
    font-family: 'Comfortaa', sans-serif;
}

.mentor-post-container .post-title {
    font-family: 'Comfortaa', sans-serif;
}

.mentor-post-container .post-content {
    font-family: 'Cabin', sans-serif;
}

.mentor-post-container .post-content img {
    float: right;
    margin: 0 0 10px 10px;
}

.form-group .form-row {
    font-family: 'Comfortaa', sans-serif;
}

.form-row .form-label {
    text-align: right;
    margin-right: 10px;
}

.mentor-form-button .form-button {
    font-family: "Cabin", sans-serif;
}

@media only screen and (max-width: 562px) {
    .mentor-card-big .mentor-image {
        border-radius: 10px 10px 160px 0;
    }
    .mentor-connect-dropdown .button-content .button-content-help:hover::after {
        left: auto;
        right: 0;
    }
    .mentor-connect-dropdown .button-content .arrow {
        right: 5px;
    }
    .mentor-card-big .post-type {
        font-family: 'Comfortaa', sans-serif;
    }

    .form-row .form-label {
      text-align: left;
      margin-left: 14px;
      margin-right: 0;
    }
}