@import url("https://fonts.googleapis.com/css?family=Cabin:400,700|Comfortaa:400,700");
@import url(//fonts.googleapis.com/earlyaccess/notokufiarabic.css);
#background-line {
    right: 20%;
}

body {
    font-size: 18px;
}

#header #logo {
    font-size: 2em;
    font-family: 'Comfortaa', 'Noto Kufi Arabic', sans-serif;
    float: right;
    padding: 20px 30px 15px 30px;
    line-height: 1em;
}

#header #language-select {
  float: left;
}

#search .search-title {
    font-family: 'Comfortaa', 'Noto Kufi Arabic', sans-serif;
}

#search .search-row {
    padding: 0 1px 0 40px;
}

#search .search-inner {
    border-radius: 0 50px 50px 0;
}

#search .selected-tags {
    border-radius: 0 50px 50px 0;
    direction: ltr;
}

#search .selected-tags .tag {
    font-family: 'Cabin', arial, "Helvetica Neue", Noto Kufi Arabic;
}


#search .selected-tags .tag .tag-side {
  padding: 10px 5px 15px 15px;
  display: inline-block;
  direction: rtl;
}

#search .selected-tags .tag .close-side {
  border-left: 1px solid #fff;
  padding: 10px 10px 15px 7px;
  cursor: pointer;
  display: inline-block;
}


/* #search .selected-tags .tag::after{
  color: #fff;
  content: 'X';
  border-left: 1px solid #fff;
  padding-left: 5px;
} */

#search .search-field {
    padding: 0 15px 0 1px;
}

#search .search-icon {
    left: 0;
}

#search .search-tags>li a {
    font-family: 'Cabin', arial, "Helvetica Neue", Noto Kufi Arabic;
}

.mentor-card .mentor-name {
    font-family: 'Comfortaa', 'Noto Kufi Arabic', sans-serif;
}

.mentor-card .mentor-title {
    font-family: 'Cabin', arial, sans-serif;
    font-weight: bold;
}

.mentor-card .mentor-bio {
    font-family: 'Comfortaa', 'Noto Kufi Arabic', sans-serif;
    /* height: 70px; */
}

.mentor-card ul.mentor-tags a {
    font-family: 'Cabin', arial, sans-serif;
}

#footer .footer-title,
#footer .footer-title-big {
    font-family: 'Comfortaa', 'Noto Kufi Arabic', sans-serif;
}

#footer .footer-button-big {
    text-align: left;
    font-family: 'Comfortaa', 'Noto Kufi Arabic', sans-serif;
}

.right-container {
    text-align: left;
}

.mentor-card-big .mentor-main {
    border-left: 3px dotted rgb(239, 237, 238);
    float: right;

}

.mentor-card-big .mentor-image {
    border-radius: 0 10px 0 160px;
}

.mentor-info .mentor-name {
    font-family: 'Comfortaa', 'Noto Kufi Arabic', sans-serif;
    font-size: 1.2em;
}

.mentor-info .mentor-name a {
    font-family: 'Comfortaa', 'Noto Kufi Arabic', sans-serif;
}

.mentor-info .mentor-title {
    font-family: 'Cabin', arial, sans-serif;
    font-size: 0.9em;
}

.mentor-info .mentor-connect-dropdown {
    font-family: 'Cabin', arial, sans-serif;
}

.mentor-connect-dropdown .button-title {
    padding-left: 40px;
    /*   z-index: 100; */
}

.mentor-connect-dropdown .button-title::after {
    left: 5px;
    border-right: 1px solid #fff;
}

.mentor-connect-dropdown .button-content {
    font-family: 'Cabin', arial, sans-serif;
}

.mentor-connect-dropdown .button-content .button-content-row {
    padding-left: 40px;
}

.mentor-connect-dropdown .button-content .button-content-help {
    left: 0;
}

.mentor-connect-dropdown .button-content .arrow {
    left: -2px;
}

.mentor-connect-dropdown .button-content .button-content-help:hover::after {
    left: -180px;
    right: auto;
}

.mentor-details .tags-row a {
    font-family: 'Cabin', arial, sans-serif;
}

.mentor-details .long-bio-row {
    font-family: 'Comfortaa', 'Noto Kufi Arabic', sans-serif;
}

.mentor-details .details-row .title {
    font-family: 'Cabin', arial, sans-serif;
}

.mentor-details .education-row,
.mentor-details .row {
    padding-right: 28px;
    font-family: 'Comfortaa', 'Noto Kufi Arabic', sans-serif;
}

.mentor-details .education-row:before {
    top: 1px;
    right: 8px;
    left: auto;
}

.mentor-details .social-media-row {
    left: 20px;
}

.mentor-post-container .post-title {
    font-family: 'Comfortaa', 'Noto Kufi Arabic', sans-serif;
}

.mentor-post-container .post-content {
    font-family: 'Cabin', arial, sans-serif;
}

.mentor-post-container .post-content img {
    float: left;
    margin: 0 10px 10px 0;
}

.form-group .form-row {
    font-family: 'Comfortaa', 'Noto Kufi Arabic', sans-serif;
    font-size: 0.7em;
}

.form-row .form-label {
    text-align: left;
    margin-left: 10px;
}

.mentor-form-button .form-button {
    font-family: 'Cabin', arial, sans-serif;
}

#back-to-profile{
    font-family: 'Comfortaa', 'Noto Kufi Arabic', sans-serif;
}


.modal {
    font-family: "Cabin", arial, sans-serif;
    font-size: 0.85em;
}

#cookie-settings-modal td {
    text-align: right;
}

@media only screen and (max-width: 562px) {
    .mentor-card-big .mentor-image {
        border-radius: 10px 10px 0 0;
    }
    .mentor-connect-dropdown .button-content .button-content-help:hover::after {
        top: auto;
        left: 0;
    }
    .mentor-connect-dropdown .button-content .arrow {
        left: 5px;
    }

    .form-row .form-label {
      text-align: right;
      margin-right: 14px;
      margin-left: 0;
    }
}


@media only screen and (max-width: 719px) {
    .mentor-form .mentor-image {
         float: right;
     }
     .mentor-form .mentor-info {
         float: right;
     }
 }